.main-container {
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

#show-monitor {
    background-color: rgba(188,209,192,255);
    border-radius: 6px;
    height: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15PX;
    font-size: 30px;
    font-weight: bold;
}